*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #caf0f8;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    color: black;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 320px;
    background-color: white;
    border-radius: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 12px;
    border: 3px solid black;
    transition: all 0.4s ease-in-out;
}

.tittle-card{
    margin-bottom: 10px;
}

.card:hover{
    background-color: #d0b5f3;
    transform: scale(1.05);
    transform: rotate(2deg);
}

.card .image{
    width: 200px;
}

.card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5%;
}

.card p{
    font-size: 15px;
}

#pastorAleman{
    color: #473f71;
}

h2{
    color: #473f71;
}