.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bandera{
    background: bisque;
    width: 330px;
    height: 220px;
    display: flex;
}

.verde, .blanco, .rojo{
    width: 110px;
    height: 100%;
}

.verde{
    background-color: green;
}

.blanco{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rojo{
    background-color: red;
}

.escudo{
    width: 105px;
}